* {
    box-sizing: border-box;
}

#container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid gray;
}

.center {
    justify-content: center;
    justify-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}